


#cart-items-container {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    


 
}


.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: auto;
    
    border-width: 1px;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

}


.images-part-container{
    height : 230px;
    width : 230px;
    position: relative;
    display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */

}

.images-part {
    position: relative;
    width: min-content;
    height: min-content;

}

.bottom{
    max-width: 230px;

    max-height: 230px;
}

.design{
    
    max-width: 100%;
    max-height: 80%;
    position: absolute;
   

    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.top-img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 0px;
    top: 0px;
    
}


.product-data{
    width: 570px;
}
body{
    width: 1000px;
    margin: auto;
    font-size: 24pt;
    font-family: sans-serif;
}


a{
    text-decoration: none;
    color: rgb(91, 91, 91);
}

.remove {
    width: 40px;
}

.remove button {
    width: 40px;
    height: auto;
    background-color: rgb(255, 255, 255);
    font-size: 20pt;
    border: none;
    
}

.remove button:hover{
    color: red;
    
}

#cart-data {
    font-size: 20pt;
}

#checkout {
    height: 60px;
    width: 200px;
    font-size: 20px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: rgb(0, 228, 152);

}

#checkout:hover{
    background-color: rgb(8, 186, 127);
}
