<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/fileupload.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>add your work</title>

    <!--   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script src="./files.js"></script>
     <!--script src="./addwork.js"></script-->
</head>

<body>
    <header class="header">
        
    </header>

    <h1>Upload Your Artwork!</h1>

    <main>
        <form enctype="multipart/form-data" action="/fileupload" method="post" id="uploadForm">
            <div class="uploader">
                <label for="input-file" id="drop-area">
                    <input type="file" name="sample" accept="image/*" id="input-file"  hidden />
               <!--  <input type="submit" name="submit" class="btn btn-success" value="Upload image" />-->  
              
             
                  <div id="img-view">
    <!-- Ensure the img element has an id for easy reference -->
    <img id="preview-img" src="" width="30px" height="30px" style="display: none;"> <!-- Hide it initially -->
</div>

                </label>
            </div>

            <label for="textfield">
                <h2>Title</h2>
                
                <br>
                <small>use descriptive title that explains your work in 4-8 words</small>
            </label>
            <input type="text" id="textfield" name="title_field" placeholder="Example:Great wave of trees" required>

            <label for="textarea2">
                <h2>Tags</h2>
                <br>
                <small> Write up to 15 tags (50 character limit per tag) separated by commas,<br> that describe the content of your art. </small>
            </label>
            <textarea id="textarea2" name="tags_field" rows="1" cols="40"
                placeholder="Example:Yellow,cute,tree,arrow,forest,oil paint" required></textarea>

            <label for="textarea3">
                <h2>Description</h2>
                <br>
                <small>Share the story or meaning behind your work.</small>
            </label>
            <textarea id="textarea3" name="description_field" rows="3" cols="40"
                placeholder="Example:Drawing I did while camping at the national park" required></textarea>
      <label for="pricefield">
    <h2>Price</h2>
    <br>
    <small>Enter the price for your artwork</small>
</label>
<input type="number" id="pricefield" name="price_field" placeholder="Example: 100" required>

    </main>

    <div class="products">
        <h2>PRODUCTS PREVIEWS</h2>
        <br>
        <div class="cards">
            <!-- tshirt -->
            <div class="card" name="tshirt_card">
                <div class="imge">
                    <img src="tshirtBefore.png" name="tshirt_before_image" alt="tshirt_before_image not found">
                </div>
                <div class="overlay-image" id="overlay-img1">
                    <img name="design-image" alt="design image not found">
                </div>
                <div class="afterimage">
                    <img src="tshirtAfter.png" name="tshirt_after_image" alt="tshirt_After_image not found">
                </div>
                <p>T-shirt</p>
            <div class="slide-container">
                <input type="range" name="range" min="1" max="100" value="100" class="slider" id="myRange1" oninput="updateOverlaySize(this.value, 'overlay-img1') ">
               </div>
             
               <div class="button">
                 <button class="toggle-button" name="tshirt" id="1"  data-enabled="disabled">Disabled</button>

                </div>

            </div>




              <!--tote-->
        <div class="card" name="tote_card">
            <div class="imge">
                <img src="toteBefore.png" name="tote_before_image" alt="tote_before_image not found">
            </div>
            <div class="overlay-image"  id="overlay-img1">
                <img name="design-image" alt="design image not found">
            </div>
            <div class="afterimage">
                <img src="toteAfter.png" name="tote_after_image" alt="tote_After_image not found">
            </div>
            <p>T-shirt</p>
            <div class="slide-container">
                <input type="range" name="range" min="1" max="100" value="100" class="slider" id="myRange1" oninput="updateOverlaySize(this.value, 'overlay-img1') ">
               </div>
            <div class="button">
                <button class="toggle-button" id="2" name="totebag" data-enabled="disabled">Disabled</button>
            </div>
        </div>
        </div>



 <!--sticker-->
        <div class="card" name="sticker_card">
            <div class="imge">
                <img src="stickerBefore.png" name="sticker_before_image" alt="sticker_before_image not found">
            </div>
            <div class="overlay-image"  id="overlay-img1">
                <img name="design-image" alt="design image not found">
            </div>
            <div class="afterimage">
                <img src="stickerAfter.png" name="sticker_after_image" alt="sticker_After_image not found">
            </div>
            <p>T-shirt</p>
            <div class="slide-container">
                <input type="range" name="range" min="1" max="100" value="100" class="slider" id="myRange1" oninput="updateOverlaySize(this.value, 'overlay-img1') ">
               </div>
            <div class="button">
                <button class="toggle-button"  id="3" name="sticker" data-enabled="disabled">Disabled</button>
            </div>
        </div>


          <!--poster-->
        <div class="card" name="poster_card">
            <div class="imge">
                <img src="posterBefore.png" name="poster_before_image" alt="poster_before_image not found">
            </div>
            <div class="overlay-image"  id="overlay-img1">
                <img name="design-image" alt="design image not found">
            </div>
            <div class="afterimage">
                <img src="posterAfter.png" name="poster_after_image" alt="poster_After_image not found">
            </div>
            <p>T-shirt</p>
            <div class="slide-container">
                <input type="range" name="range" min="1" max="100" value="100" class="slider" id="myRange1" oninput="updateOverlaySize(this.value, 'overlay-img1') ">
               </div>
            <div class="button">
                <button class="toggle-button"  id="4" name="poster" data-enabled="disabled">Disabled</button>
            </div>
        </div>




          <!--phoneCover-->
        <div class="card" name="phoneCover_card">
            <div class="imge">
                <img src="phoneCoverBefore.png" name="phoneCover_before_image" alt="phoneCover_before_image not found">
            </div>
            <div class="overlay-image"  id="overlay-img1">
                <img name="design-image" alt="design image not found">
            </div>
            <div class="afterimage">
                <img src="phoneCoverAfter.png" name="phoneCover_after_image" alt="phoneCover_After_image not found">
            </div>
            <p>T-shirt</p>
            <div class="slide-container">
                <input type="range" name="range" min="1" max="100" value="100" class="slider" id="myRange1" oninput="updateOverlaySize(this.value, 'overlay-img1') ">
               </div>
            <div class="button">
                <button class="toggle-button"  id="5" name="phoneCover" data-enabled="disabled">Disabled</button>
            </div>
        </div>


              <!--notebook-->
        <div class="card" name="notebook_card">
            <div class="imge">
                <img src="notebookBefore.png" name="notebook_before_image" alt="notebook_before_image not found">
            </div>
            <div class="overlay-image"  id="overlay-img1">
                <img name="design-image" alt="design image not found">
            </div>
            <div class="afterimage">
                <img src="notebookAfter.png" name="notebook_after_image" alt="notebook_After_image not found">
            </div>
            <p>NoteBook</p>
            <div class="slide-container">
                <input type="range" name="range" min="1" max="100" value="100" class="slider" id="myRange1" oninput="updateOverlaySize(this.value, 'overlay-img1') ">
               </div>
            <div class="button">
                <button class="toggle-button"  id="6" name="notebook" data-enabled="disabled">Disabled</button>
            </div>
        </div>

         <!--mug-->
        <div class="card" name="mug_card">
            <div class="imge">
                <img src="mugBefore.png" name="mug_before_image" alt="mug_before_image not found">
            </div>
            <div class="overlay-image"  id="overlay-img1">
                <img name="design-image" alt="design image not found">
            </div>
            <div class="afterimage">
                <img src="mugAfter.png" name="mug_after_image" alt="mug_After_image not found">
            </div>
            <p>Mug</p>
            <div class="slide-container">
                <input type="range" name="range" min="1" max="100" value="100" class="slider" id="myRange1" oninput="updateOverlaySize(this.value, 'overlay-img1') ">
               </div>
            <div class="button">
                <button class="toggle-button"  id="7" name="mug" data-enabled="disabled"> disabled</button>
            </div>
        </div>
                   <!--laptopsleeve-->
        <div class="card" name="laptopSleeve_card">
            <div class="imge">
                <img src="laptopSleeveBefore.png" name="laptopSleeve_before_image" alt="laptopSleeve_before_image not found">
            </div>
            <div class="overlay-image"  id="overlay-img1">
                <img name="design-image" alt="design image not found">
            </div>
            <div class="afterimage">
                <img src="laptopSleeveAfter.png" name="laptopSleeve_after_image" alt="laptopSleeve_After_image not found">
            </div>
            <p>LaptopSleeve</p>
            <div class="slide-container">
                <input type="range" name="range" min="1" max="100" value="100" class="slider" id="myRange1" oninput="updateOverlaySize(this.value, 'overlay-img1') ">
               </div>
            <div class="button">
                <button class="toggle-button"  id="8" name="laptopSleeve"data-enabled="disabled"> disabled</button>
            </div>
        </div>

        <!--laptopSkin-->
        <div class="card" name="laptopSkin_card">
            <div class="imge">
                <img src="laptopSkinBefore.png" name="laptopSkin_before_image" alt="laptopSkin_before_image not found">
            </div>
            <div class="overlay-image"  id="overlay-img1">
                <img name="design-image" alt="design image not found">
            </div>
            <div class="afterimage">
                <img src="laptopSkinAfter.png" name="laptopSkin_after_image" alt="laptopSkin_After_image not found">
            </div>
            <p>laptopSkin</p>
            <div class="slide-container">
                <input type="range" name="range" min="1" max="100" value="100" class="slider" id="myRange1" oninput="updateOverlaySize(this.value, 'overlay-img1') ">
               </div>
            <div class="button">
                <button class="toggle-button" id="9" name="laptopSkin-button"data-enabled="disabled"> disabled</button>
            </div>
        </div>

        <!--ipadCase-->

        <div class="card" name="ipadCase_card">
            <div class="imge">
                <img src="ipadCaseBefore.png" name="ipadCase_before_image" alt="ipadCase_before_image not found">
            </div>
            <div class="overlay-image"  id="overlay-img1">
                <img name="design-image" alt="design image not found">
            </div>
            <div class="afterimage">
                <img src="ipadCaseAfter.png" name="ipadCase_after_image" alt="ipadCase_After_image not found">
            </div>
            <p>ipadCase</p>
            <div class="slide-container">
                <input type="range" name="range" min="1" max="100" value="100" class="slider" id="myRange1" oninput="updateOverlaySize(this.value, 'overlay-img1') ">
               </div>
            <div class="button">
                <button class="toggle-button"  id="10" name="ipadCase"data-enabled="disabled"> disabled</button>
            </div>
        </div>

        <!--frame-->
        <div class="card" name="frame_card">
            <div class="imge">
                <img src="frameBefore.png" name="frame_before_image" alt="frame_before_image not found">
            </div>
            <div class="overlay-image"  id="overlay-img1">
                <img name="design-image" alt="design image not found">
            </div>
            <div class="afterimage">
                <img src="frameAfter.png" name="frame_after_image" alt="frame_After_image not found">
            </div>
            <p>frame</p>
            <div class="slide-container">
                <input type="range" name="range" min="1" max="100" value="100" class="slider" id="myRange1" oninput="updateOverlaySize(this.value, 'overlay-img1') ">
               </div>
            <div class="button">
                <button class="toggle-button"  id="11" name="frame"data-enabled="disabled"> disabled</button>
            </div>
        </div>


        <!--coaster-->
        <div class="card" name="coaster_card">
            <div class="imge">
                <img src="coasterBefore.png" name="coaster_before_image" alt="coaster_before_image not found">
            </div>
            <div class="overlay-image"  id="overlay-img1">
                <img name="design-image" alt="design image not found">
            </div>
            <div class="afterimage">
                <img src="coasterAfter.png" name="coaster_after_image" alt="coaster_After_image not found">
            </div>
            <p>Coaster</p>
            <div class="slide-container">
                <input type="range" name="range" min="1" max="100" value="100" class="slider" id="myRange1" oninput="updateOverlaySize(this.value, 'overlay-img1') ">
               </div>
            <div class="button">
                <button class="toggle-button" id="12" name="coaster"data-enabled="disabled"> disabled</button>
            </div>
        </div>

        <!--a4-->
        <div class="card" name="a4_card">
            <div class="imge">
                <img src="a4Before.png" name="a4_before_image" alt="a4_before_image not found">
            </div>
            <div class="overlay-image"  id="overlay-img1">
                <img name="design-image" alt="design image not found">
            </div>
            <div class="afterimage">
                <img src="a4After.png" name="a4_after_image" alt="a4_After_image not found">
            </div>
            <p>a4</p>
            <div class="slide-container">
                <input type="range" name="range" min="1" max="100" value="100" class="slider" id="myRange1" oninput="updateOverlaySize(this.value, 'overlay-img1') ">
               </div>
            <div class="button">
                <button class="toggle-button" id="13" name="a4"data-enabled="disabled"> disabled</button>
            </div>
        </div>
        
    </div>

    <br>
    <br>
    <br>
   

<input type="submit" id="saveButton" class="btn btn-success" value="Save" />

    <br>
    <br>
     </form>
</body>

</html>
