<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script>
    setTimeout(() => {
        // Redirect to the second page after 3 seconds
        window.location.href = '/home';
    }, 3000); 
</script>
</head>
<body>
  Registered Successfully!!
  Please wait until you're redirected to the homepage...
</body>
</html>