<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="welcome page.css">

        <title>
          welcome Page
        </title>
    </head>

    <body > 
        <div class="circle">
        </div>
        <img src="Humaaans - Space.png" alt="Your Image"  class="opening_img" >
        <div class="login">
         <a href="/login">login</a>
         </div>
         <div class="register">
            <p>New? 
         <a href="/register">register</a>
        </p>
        </div>
        </body>
    