*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
   }
  

   
   
     .login_box{
   
       
       margin: auto;
       width: 500px;
       height: 58vh;
       background: white;
       border-radius: 10px;
       border: 2px solid rgba(236, 225, 225, 0.512)
       
    }
   
    .login_box h2{
   
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid silver;
   
   
    }
   
     .login_box form{
   
       padding: 0px 40px;
       box-sizing: border-box;
   
     }
   
     form .text_field{
       position: relative;
       border-bottom: 2px solid #adadad;
       margin: 30px 0;
     
   }
   
    
   
   .text_field input{
   
       width: 100%;
       padding:0 5px;
       height: 40px;
       font-size: 16px;
       outline: none;
       border: none;
   }
   
   .text_field label{
       position: absolute;
       top: 50%;
       left: 5px;
       color: #adadad;
       transform: translateY(-50%);
       font-size: 16px;
       pointer-events: none;
       transition: 0.5s;
   }
   
   .text_field i{
       position: absolute;
       top: 40%;
       right: 10px;
       left:  95%;
       transform:translate(-50%);
       font-size:20px;
   }
   
    
   .text_field input:focus ~ label,
   .text_field input:valid ~ label{
       top: -5px;
   
   }
   
   .remember{
       display: flex;
       justify-content: space-between;
       margin: 30px 20px   ;
       cursor: pointer;
   }
   
   .remember label{
       accent-color: rgb(29, 19, 19);
       margin-right: 20px;
   }
   
   .remember a{
      text-decoration: none;
       color: rgba(42, 39, 39, 0.393);
       font-weight: bold;
   }
   
   .remember a:hover{
       text-decoration: underline;
       color: blue;
   }
   
    .btn{
   
   
       width: 100%;
       height: 40px;
       border: none;
       outline: none;
       border-radius: 40px;
      background:  rgb(92, 220, 175);
       cursor: pointer;
       font-size: 16px;
       color: rgb(255, 255, 255);
       font-weight :bold;
       margin-bottom: 20px;
    }
    
    .form .register{
       font-size: 14px;
       text-align:center;
       margin : 30px ;
    }
    
    .register a{
       text-decoration: none;
       color: rgba(40, 37, 37, 0.392);
       font-weight: bold;
    }
    
    .register a:hover{
       text-decoration: underline;
       color: blue;
    }
   
    
    
   
    
      
   
       
    
   
   
   
    